[submodule "hivemaster-spis"]
	path = hivemaster-spis
	url = git@github.com:czetsuyatech/hivemaster-spis.git
	branch = develop
[submodule "hivemaster-spring-security"]
	path = hivemaster-spring-security
	url = git@github.com:czetsuyatech/hivemaster-spring-security.git
	branch = develop
