[submodule "ct-kc-quarkus-spis"]
	path = ct-kc-quarkus-spis
	url = git@github.com:czetsuyatech/ct-kc-quarkus-spis.git
	branch = main
[submodule "ct-kc-quarkus-spring-security"]
	path = ct-kc-quarkus-spring-security
	url = git@github.com:czetsuyatech/ct-kc-quarkus-spring-security.git
	branch = main
